.ProductListItem {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  min-height: 25em;
  max-height: 35em;
  min-width: 20em;
  max-width: 20em;
  text-align: center;
  vertical-align: middle;
}